/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835";

    fragment@0 {
        target = <&i2c1>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
			status = "okay";

            volume: bd3490fv@40 {
                compatible = "ti,bd3490fv";
                reg = <0x40>;
                status = "okay";
                sound-name-prefix = "vol";
            };

			// https://github.com/raspberrypi/linux/blob/rpi-5.10.y/sound/soc/codecs/pcm512x.h
			// https://github.com/raspberrypi/linux/blob/rpi-5.10.y/sound/soc/codecs/pcm512x.c
            dac: pcm5122@4d {
				#sound-dai-cells = <0>;
				compatible = "ti,pcm5122";
				reg = <0x4d>;
				AVDD-supply = <&vdd_3v3_reg>;
				DVDD-supply = <&vdd_3v3_reg>;
				CPVDD-supply = <&vdd_3v3_reg>;
				status = "okay";
                sound-name-prefix = "dac";
			};
        };
    };

    fragment@1 {
        target = <&i2s>;
        __overlay__ {
            status = "okay";
        };
    };

    // https://www.kernel.org/doc/Documentation/devicetree/bindings/pinctrl/brcm,bcm2835-gpio.txt
    fragment@2 {
        target = <&gpio>;
        __overlay__ {
            amp_gpio: amp_gpio {
                // !amp_enable !amp_mute !amp_error !amp_clip
                brcm,pins = <4 17 22 27>;
                // pullup, pulldown, pullup, pullup
                brcm,pull = <2 1 2 2>;
                // out, out, in, in
                brcm,function = <1 1 0 0>;
            };
        };
    };

    fragment@3 {
        target = <&sound>;
        __overlay__ {
            compatible = "simple-audio-card";
            i2s_controller = <&i2s>;
            status = "okay";

            simple-audio-card,name = "cw-audio-card";
            simple-audio-card,format = "i2s";
            simple-audio-card,bitclock-master = <&dailink0_master>;
            simple-audio-card,frame-master = <&dailink0_master>;

            simple-audio-card,aux-devs = <&volume>;

            simple-audio-card,widgets =
                "Line", "Aux Jack",
                "Speaker", "External Speaker";
            simple-audio-card,routing =
                "vol AUXINL", "Aux Jack",
                "vol AUXINR", "Aux Jack",
                "vol DACINL", "dac OUTL",
                "vol DACINR", "dac OUTR",
                "External Speaker", "vol MUXOUTL",
                "External Speaker", "vol MUXOUTR";

            pinctrl-names = "default";
            pinctrl-0 = <&amp_gpio>;

            dailink0_master: simple-audio-card,cpu {
                sound-dai = <&i2s>;
            };
            simple-audio-card,codec {
                sound-dai = <&dac>;
            };
        };
    };
};
